<div class="playlist-wrapper container" (click)="disableContextMenu()" oncontextmenu="return false;">
    <h1 style="margin-left: 10px;">{{playlist.name}}</h1>
    <div class="list-wrapper" #listWrapper>
        <div class="list-group" *ngFor="let group of playlist.groups">
            <p style="margin-left: 10px; font-weight: 500;">{{group.name}}</p>
            <app-playlist-item [item]="item" *ngFor="let item of group.items" cdkOverlayOrigin
                #trigger="cdkOverlayOrigin" [id]="'A' + item.id + '-' + item.playlistItemGroupId"
                [selected]="selectedItem && selectedItem.id && selectedItem.id == item.id && selectedItem.playlistItemGroupId == item.playlistItemGroupId ? true : false"
                (click)="selectItem($event, item)"></app-playlist-item>
        </div>
    </div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayPositions]="connectedPositions"
    [cdkConnectedOverlayOrigin]="triggerOrigin" cdkConnectedOverlayHasBackdrop="true"
    (backdropClick)="contextmenu=false" [cdkConnectedOverlayOpen]="contextmenu">
    <app-context-menu [song]="contextmenuSong" (onMenuClick)="onMenuClick($event)"></app-context-menu>
</ng-template>