<div class="playlist-wrapper container" (click)="disableContextMenu()" oncontextmenu="return false;">
    <h1 style="margin-left: 10px;">{{playlist.name}}</h1>
    <div class="add-button" (click)="addSongs()">+</div>
    <div class="list-wrapper">
        <app-playlist-item [song]="song" *ngFor="let song of playlist.songs" cdkOverlayOrigin
            #trigger="cdkOverlayOrigin" (contextmenu)="onRightClick(trigger, song)" [id]="song.id"
            [selected]="selectedSong && selectedSong.id && selectedSong.id == song.id ? true : false"
            (click)="selectSong(song)"></app-playlist-item>
    </div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayPositions]="connectedPositions"
    [cdkConnectedOverlayOrigin]="triggerOrigin" cdkConnectedOverlayHasBackdrop="true"
    (backdropClick)="contextmenu=false" [cdkConnectedOverlayOpen]="contextmenu">
    <app-context-menu [song]="contextmenuSong" (onMenuClick)="onMenuClick($event)"></app-context-menu>
</ng-template>