.main-nav {
    display: flex;
    height: 60px;

    button {
        // font-size: 12px;
        width: 90px;
        height: 100%;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        transition: all 100ms ease-in-out;
    }

    .item-divider {
        width: 1px;
        background-color: white;
        margin-top: 20px;
        height: calc(100% - 40px);
    }

    button:hover {
        background-color: rgba(0, 0, 0, 0.311);
    }
}