.player-wrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    // background-color: rgba(0, 0, 0, 0.449);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.36);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    color: white;

    .title-wrapper {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 20px;
        display: flex;
        align-items: center;
        max-width: calc(50vw - 100px);

        .title {
            font-size: 18px;
        }
    }

    .countdown-wrapper {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 20px;
        display: flex;
        align-items: center;
        max-width: calc(50vw - 100px);
    }


    // margin-bottom: 20px;



    .controls {
        position: absolute;
        top: 10px;
        width: 100vw;
        // margin-left: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .control-button {
            width: 50px;
            height: 50px;
            border-radius: 360px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 100ms ease-in-out;
            margin: 6px;

            svg {
                width: 24px;
            }
        }

        .play-button {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            background-color: #5A64B7;
            svg {
                width: 28px;
            }
        }

        .stop-button {
            background-color: red;
        }

        .control-button:hover {
            transform: translate(-0.5px, -1px);
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
    }
}