<div class="player-wrapper">
    <ng-container *ngIf="song && song.duration">
        <!-- <div class="top-bar"> -->
        <div class="title-wrapper">
            <span class="title">{{song.name}}</span>
        </div>
        <!-- <span style="flex: 1;"></span> -->
        <!-- </div> -->
        <div class="countdown-wrapper">
            <app-countdown class="countdown" #songCountdown [duration]="song.durationInMillis"
                (onTick)="onCounterTick($event)"></app-countdown>
        </div>
        <div class="controls">
            <div class="control-button" (click)="previous()">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)">
                    <g id="SVGRepo_whitegCarrier" stroke-whiteidth="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 4.684a1.5 1.5 0 0 1 2.286-1.277L18 10.615V5a1 1 0 1 1 2 0v14a1 1 0 1 1-2 0v-5.616l-11.714 7.21A1.5 1.5 0 0 1 4 19.315V4.684z"
                            fill="white"></path>
                    </g>
                </svg>
            </div>
            <div class="play-button control-button" (click)="play()">
                <svg *ngIf="!running" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M8.286 3.407A1.5 1.5 0 0 0 6 4.684v14.632a1.5 1.5 0 0 0 2.286 1.277l11.888-7.316a1.5 1.5 0 0 0 0-2.555L8.286 3.407z"
                            fill="white"></path>
                    </g>
                </svg>
                <svg *ngIf="running" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-whiteidth="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.163 3.819C5 4.139 5 4.559 5 5.4v13.2c0 .84 0 1.26.163 1.581a1.5 1.5 0 0 0 .656.655c.32.164.74.164 1.581.164h.2c.84 0 1.26 0 1.581-.163a1.5 1.5 0 0 0 .656-.656c.163-.32.163-.74.163-1.581V5.4c0-.84 0-1.26-.163-1.581a1.5 1.5 0 0 0-.656-.656C8.861 3 8.441 3 7.6 3h-.2c-.84 0-1.26 0-1.581.163a1.5 1.5 0 0 0-.656.656zm9 0C14 4.139 14 4.559 14 5.4v13.2c0 .84 0 1.26.164 1.581a1.5 1.5 0 0 0 .655.655c.32.164.74.164 1.581.164h.2c.84 0 1.26 0 1.581-.163a1.5 1.5 0 0 0 .655-.656c.164-.32.164-.74.164-1.581V5.4c0-.84 0-1.26-.163-1.581a1.5 1.5 0 0 0-.656-.656C17.861 3 17.441 3 16.6 3h-.2c-.84 0-1.26 0-1.581.163a1.5 1.5 0 0 0-.655.656z"
                            fill="white"></path>
                    </g>
                </svg>
            </div>
            <div class="control-button" (click)="next()">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-whiteidth="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 4.684a1.5 1.5 0 0 1 2.286-1.277L18 10.615V5a1 1 0 1 1 2 0v14a1 1 0 1 1-2 0v-5.616l-11.714 7.21A1.5 1.5 0 0 1 4 19.315V4.684z"
                            fill="white"></path>
                    </g>
                </svg>
            </div>

        </div>
    </ng-container>
</div>